* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Segoe UI', Arial, sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}

input {
  outline: none;
}