.login-container {

  width: 100%;

  max-width: 400px;

  margin: 100px auto;

  padding: 40px;

  background: var(--card);

  border-radius: var(--radius);

  box-shadow: var(--shadow);
}

.login-container h1 {

  text-align: center;

  margin-bottom: 20px;
}